<a href="https://colab.research.google.com/github/kartik800/Machine-Learning-Algorithms-Examples/blob/master/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# upload data from system to google colab
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
downloaded = drive.CreateFile({'id':'10nX7lhY4S0MNhpXEM-N271kMouNvO2B0'}) # replace the id with id of file you want to access
downloaded.GetContentFile('weight-height.csv')

In [0]:
import pandas as pd 
import numpy as np

In [0]:
df  =pd.read_csv('weight-height.csv') # read CSV file 
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [0]:
data_new =pd.get_dummies(df['Gender']) 
data_new.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       0     1

In [0]:
df=pd.concat([data_new,df],axis=1) #joining two data
df.head()

   Female  Male Gender     Height      Weight
0       0     1   Male  73.847017  241.893563
1       0     1   Male  68.781904  162.310473
2       0     1   Male  74.110105  212.740856
3       0     1   Male  71.730978  220.042470
4       0     1   Male  69.881796  206.349801

In [0]:
df.drop('Gender',axis=1).head() # dropping the column 'Gender'

   Female  Male     Height      Weight
0       0     1  73.847017  241.893563
1       0     1  68.781904  162.310473
2       0     1  74.110105  212.740856
3       0     1  71.730978  220.042470
4       0     1  69.881796  206.349801

In [0]:
x = df.iloc[:,:-1] #indexing 
y = df.iloc[:,[3]]

In [0]:
from sklearn.model_selection import train_test_split #import train_test_split from sklearn library
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [0]:
from sklearn.linear_model import LinearRegression #import linear regression from sklearn.linear_model 
model = LinearRegression()

In [0]:
x_train1=x_train.drop('Gender',axis=1)

In [0]:
model.fit(x_train1,y_train)  #fitting our model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
x_test1 = x_test.drop('Gender',axis=1)

In [0]:
y_pred = model.predict(x_test1) #predicting 
y_pred

array([[65.563359  ],
       [67.3323783 ],
       [68.72121802],
       ...,
       [64.68921645],
       [62.39615363],
       [72.92136714]])

In [0]:
from sklearn.metrics  import r2_score
score = r2_score(y_pred,y_test)
score

1.0